{% extends 'index.html' %}
{% load static %}
{% block content %}
<main class="login-page bd-container">
    <div class="login-card">
              <a href="{% url 'index' %}" class="brand-link">Tasty Foods</a>
        <h2 class="section-title">Welcome Back!</h2>
        <p class="section-subtitle">Login to your account</p>
        <form class="login-form" method="POST" action="" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <input placeholder="Email" required type="email" name="username">
            </div>
            <div class="form-group">
                <input placeholder="Password" required type="password" name="password">
            </div>
            <a class="forgot" href="#">Forgot Password?</a>
            <button class="button" type="submit">Login</button>
            <p class="signup-text">Don't have an account? <a href="{% url 'signup' %}">Sign Up</a></p>

        </form>
    </div>
</main>
{% endblock %}
{% block scripts %}
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/login.js' %}"></script>
{% endblock %}
